# Mento Analytics API Environment Variables
# Copy this file to .env and update with your values

# API Keys (find them in 1Password)
# 🚨 PLEASE REPLACE THESE WITH REAL VALUES 🚨
COINMARKETCAP_API_KEY=
EXCHANGE_RATES_API_KEY=

# RPC URLs
CELO_RPC_URL=wss://forno.celo.org/ws
ETH_RPC_URL=wss://mainnet.gateway.tenderly.co

# API URLs
BLOCKCHAIN_INFO_API_URL=https://api.blockchain.info/v3
BLOCKSTREAM_API_URL=https://blockstream.info/api
COINMARKETCAP_API_URL=https://pro-api.coinmarketcap.com/v1
EXCHANGE_RATES_API_URL=https://api.exchangeratesapi.io/v1

# Sentry Configuration (optional for local development)
# Safe to keep public, see https://docs.sentry.io/concepts/key-terms/dsn-explainer/#dsn-utilization
SENTRY_DSN=https://5fe67efe4baa7e6030f25bc94c82607b@o4504211835256832.ingest.us.sentry.io/4508518701268992
# Find SENTRY_AUTH_TOKEN at https://mento-labs.sentry.io/settings/auth-tokens/
SENTRY_AUTH_TOKEN=

# Runtime Configuration
NODE_ENV=development

# When set to true, data will be periodically pre-fetched and stored in the cache
CACHE_WARMING_ENABLED=false